$main_color : #0068b7;
@mixin position {
    position:relative;
}
@mixin display{
    display: inline-block;
}
@mixin gap{
    margin:0;
    padding:0;
}
@mixin center{
    display:flex;
    justify-content: center;
    align-items: center;    
}
@mixin width{
    width:100%;
}
@mixin hidden{
    overflow: hidden;
}
@mixin line{
    text-decoration: none;
}
/* Media */
@mixin media($queryString){
    @media #{$queryString}{
        @content;
    }
}

/* Aside */
main{
    padding:5%;
    overflow: hidden;
    aside{
        .wrap{
            padding:35px 5% 0 5%;
            text-align: center;
            .dot{
                @include display;
                width:15px;
                height:15px;
                background-color:$main_color;
                margin-right: 5%;
            }
            .intro{
                @include display;
                @include media("(min-width:576px)"){
                padding:0%;
                }
            }
        }
        hr{
            border: 2px solid #eee;
        }
        .phone{
            padding-top:5%;
            p{
                text-align: center;
                font-size:20px;
            }
            @include media("(min-width:576px)"){
                padding:0;
            }
            @include media("(max-width:575px)"){
                padding:0%;
            }
        }
    }
/* Section */    
    section{
        @include media("(min-width:576px)"){
            padding:0;
        }
        .greeting{
            padding:25px 5% 1px 0;
            .map{
                
            }
        }
        hr{ 
            border:2px solid #eee;
        }
        .img{
            img{
                width:100%;
            }
        }
        .main_text{
            h2{
                padding:5% 0;
                font-weight: 800;
                @include media("(max-width:575px)"){
                    font-size:20px;
                }
                strong{
                    color:$main_color;
                }
            }
            p{
                font-weight: 700;
                font-size:18px;
                @include media("(max-width:575px)"){
                    font-size:14px;
                }
            }
            .text_end{
                font-size: 20px;
                font-weight: 800;
                &:nth-last-child(2){
                    margin-top:10%;
                }
            }
        }
    }
}