$main_color : #0068b7;
@mixin position {
    position:relative;
}
@mixin display{
    display: inline-block;
}
@mixin gap{
    margin:0;
    padding:0;
}
@mixin center{
    display:flex;
    justify-content: center;
    align-items: center;    
}
@mixin width{
    width:100%;
}
@mixin hidden{
    overflow: hidden;
}
@mixin line{
    text-decoration: none;
}
/* Media */
@mixin media($queryString){
    @media #{$queryString}{
        @content;
    }
}
/* Main */
main{
    padding:5%;
    overflow: hidden;
    aside{
        .wrap{
            padding:35px 5% 0 5%;
            .dot{
                @include display;
                width:15px;
                height:15px;
                background-color:$main_color;
            }
            .intro{
                @include display;
                padding:5%;
                @include media("(min-width:576px)"){
                padding:0%;
                }
            }
        }
        hr{
            border: 2px solid #eee;
        }
        .phone{
            padding-top:5%;
            p{
                text-align: center;
                font-size:20px;
            }
            @include media("(min-width:576px)"){
            padding:0;
            }
            @include media("(max-width:575px)"){
            padding:0%;
            }
        }
    }
/* Section */    
    section{
        @include media("(min-width:576px)"){
            padding:0;
        }
        .greeting{
            padding:20px 5% 1px 0;
            .map{
                
            }
        }
        hr{ 
            border:2px solid #eee;
        }
        .process{
        .img{
            overflow: hidden;
            padding:0;
            .beforeImg{
                padding-left:0;
                img{width:100%;}
            }
            .afterImg{
                padding-right:0;
                img{width:100%;}
            }
            margin-bottom: 5%;
        }
        .explain{
            p{
                font-size:18px;
                font-weight:700;
                @include media("(max-width:575px)"){
                    font-size:14px;
                }
            }
        }
        }
        .bye{
            text-align: right;
            padding:5%;
            img{
                @include display;
            }
            p{
                @include display;
            }
        }
    }    
}