$main_color : #0068b7;
@mixin position {
    position:relative;
}
@mixin display{
    display: inline-block;
}
@mixin gap{
    margin:0;
    padding:0;
}
@mixin center{
    display:flex;
    justify-content: center;
    align-items: center;    
}
@mixin width{
    width:100%;
}
@mixin hidden{
    overflow: hidden;
}
@mixin line{
    text-decoration: none;
}
@mixin circle{
    width:110px;
    height:110px;
    border-radius: 50%;
    text-align: center;
    line-height: 5;
    list-style: none;
    margin:1%;
    font-weight:700;
}
/* Media */
@mixin media($queryString){
    @media #{$queryString}{
        @content;
    }
}
/* Main */
main{
    padding:5%;
    overflow: hidden;
    aside{
        .wrap{
            padding:35px 5% 0 5%;
            text-align: center;
            .dot{
                @include display;
                width:15px;
                height:15px;
                background-color:$main_color;
                margin-right:5%;
            }
            .intro{
                @include display;
                padding:5%;
                @include media("(min-width:576px)"){
                padding:0%;
                }
            }
        }
        hr{
            border: 2px solid #eee;
        }
        .phone{
            padding-top:5%;
            p{
                text-align: center;
                font-size:20px;
            }
            @include media("(min-width:576px)"){
            padding:0;
            }
            @include media("(max-width:575px)"){
            padding:0%;
            }
        }
    }
/* Section */    
    section{
        @include media("(min-width:576px)"){
            padding:0;
        }
        .greeting{
            padding:25px 5% 1px 0;
            .map{
                
            }
        }
        hr{ 
            border:2px solid #eee;
        }
        .before_after{
        .img{
            overflow: hidden;
            padding:0;
            .beforeImg{
                padding:1%;
                img{width:100%;}
            }
            .afterImg{
                padding:1%;
                img{width:100%;}
            }
            margin-bottom: 5%;
        }
        .explain{
            p{
                font-size:18px;
                font-weight:700;
                @include media("(max-width:575px)"){
                    font-size:14px;
                }
            }
        }
        }
        .process{
            padding:0;
            h2{
                margin-left:-15px;
                padding-bottom: 5%;
            }
            .graphic{
                padding:0;
                .phone{
                    @include circle;
                    border:20px solid #7ecef4;
                    @include display;
                    @include media("(max-width:575px)"){
                        width:150px;
                        height:150px;
                        font-size:22px;
                        margin:5% auto;
                        display: block;
                    }
                }
                .inperson{
                    @include circle;
                    border:20px solid #448aca;
                    @include display;
                    @include media("(max-width:575px)"){
                        width:150px;
                        height:150px;
                        font-size:22px;
                        margin:5% auto;
                        display: block;
                    }
                }
                .negotiation{
                    @include circle;
                    border:20px solid #0068b7;
                    @include display;  
                    @include media("(max-width:575px)"){
                        width:150px;
                        height:150px;
                        font-size:22px;
                        margin:5% auto;
                        display: block;
                    }
                }
                .demolition{
                    @include circle;       border:20px solid #004986;
                    @include display; 
                    @include media("(max-width:575px)"){
                        width:150px;
                        height:150px;
                        font-size:22px;
                        margin:5% auto;
                        display: block;
                    }
                }
                .complete{
                    @include circle;
                    border:20px solid #002e73;
                    @include display; 
                    @include media("(max-width:575px)"){
                        width:150px;
                        height:150px;
                        font-size:22px;
                        margin:auto;
                        display: block;
                    }
                } 
            }
            p{
                margin-left:-15px;
                padding-top:5%;
                font-weight:700;
                font-size:18px;
            }
        }
    }    
}