/* Media */
/* Main */
main {
  padding: 5%;
  overflow: hidden;
  /* Section */ }
  main aside .wrap {
    padding: 35px 5% 0 5%; }
    main aside .wrap .dot {
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: #0068b7; }
    main aside .wrap .intro {
      display: inline-block;
      padding: 5%; }
      @media (min-width: 576px) {
        main aside .wrap .intro {
          padding: 0%; } }
  main aside hr {
    border: 2px solid #eee; }
  main aside .phone {
    padding-top: 5%; }
    main aside .phone p {
      text-align: center;
      font-size: 20px; }
    @media (min-width: 576px) {
      main aside .phone {
        padding: 0; } }
    @media (max-width: 575px) {
      main aside .phone {
        padding: 0%; } }
  @media (min-width: 576px) {
    main section {
      padding: 0; } }
  main section .greeting {
    padding: 20px 5% 1px 0; }
  main section hr {
    border: 2px solid #eee; }
  main section .process .img {
    overflow: hidden;
    padding: 0;
    margin-bottom: 5%; }
    main section .process .img .beforeImg {
      padding-left: 0; }
      main section .process .img .beforeImg img {
        width: 100%; }
    main section .process .img .afterImg {
      padding-right: 0; }
      main section .process .img .afterImg img {
        width: 100%; }
  main section .process .explain p {
    font-size: 18px;
    font-weight: 700; }
    @media (max-width: 575px) {
      main section .process .explain p {
        font-size: 14px; } }
  main section .bye {
    text-align: right;
    padding: 5%; }
    main section .bye img {
      display: inline-block; }
    main section .bye p {
      display: inline-block; }
